@import "tailwindcss";

@theme inline {
  --font-mono: var(--font-geist-mono);
}

body {
  background: #09090b;
  color: #f4f4f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
